.login-content {
  min-width: 150px;
  max-width: 280px;
  width: 280px;
  margin: auto;
  text-align: center;
}
.login-content button {
  margin: 0 10px 0 10px;
}
.forget-pw {
  position: relative;
  font-size: 12px;
  top: -30px;
  left: 95px;
  cursor: pointer;
}