<form class="admin-account-form" #adminForm="ngForm"><!--  [formGroup]="options" -->
  <mat-form-field class="admin-account-full-width">
    <input matInput placeholder="Firstname">
  </mat-form-field>
  <br>
  <mat-form-field class="admin-account-full-width">
    <input matInput placeholder="Lastname">
  </mat-form-field>
  <br>
  <mat-form-field class="admin-account-full-width">
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
  </mat-form-field>
  <mat-form-field class="admin-account-full-width">
    <input matInput placeholder="Verify your password" [type]="hide ? 'passwordVerif' : 'text'">
  </mat-form-field>
  <br>
  <mat-form-field class="rights">
    <mat-select placeholder="Admin rights">
      <mat-option *ngFor="let right of rights" [value]="right.value">
        {{right.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>