.content {
  column-count: 3;
}
.article-card {
  max-width: 400px;
  padding-bottom: 25px;
  background-color: #F5F3F2; 
  overflow: hidden;
}
.article-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.material-icons {
  display: block;
  float: left;
}
.likeTag {
  position: relative;
  text-align: center;
  top: -5px;
  left: -10px;
  border: 2px solid #000000;
  display: block;
  font-size: 10px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 5px;
  width: 20px;
  height: 10px;
  padding: 1px;
  float: left;
}