#main-row {
  width: 100%;
}
#home-btn {
  width: 10%; 
  float: left;
  text-align: center;
}
#home-btn i {
  vertical-align: middle;
}
.button {
  float: left; 
  width: 18%; 
  text-align: center;
}