<div id="main-row">
  <button mat-menu-item routerLink="/home" routerLinkActive="active" id="home-btn">
    <i class="material-icons">home</i>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="travels" class="button">Travels</button>
  <button mat-menu-item [matMenuTriggerFor]="users" class="button">Users</button>
  <button mat-menu-item [matMenuTriggerFor]="account" class="button">Login</button>
  <button mat-menu-item [matMenuTriggerFor]="places" class="button">Places management</button>
  <button mat-menu-item [matMenuTriggerFor]="article" class="button">Article</button>
</div>

<mat-menu #travels="matMenu">
  <button mat-menu-item routerLink="/travels" routerLinkActive="active">Travels List</button>
</mat-menu>
<mat-menu #users="matMenu">
  <button mat-menu-item routerLink="/users" routerLinkActive="active">Users List</button>
</mat-menu>
<mat-menu #account="matMenu">
  <button mat-menu-item routerLink="/login" routerLinkActive="active">Login</button>
</mat-menu>
<mat-menu #places="matMenu">
  <button mat-menu-item routerLink="/places" routerLinkActive="active">Places list</button>
  <button mat-menu-item routerLink="/place/create" routerLinkActive="active">New place</button>
</mat-menu>
<mat-menu #article="matMenu">
  <button mat-menu-item routerLink="/article" routerLinkActive="active">Create</button>
</mat-menu>