<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="article-full-width">
    <input matInput placeholder="* Title" formControlName="title"/>
  </mat-form-field>
  <mat-form-field class="article-full-width">
    <input matInput placeholder="* Description" formControlName="description"/>
  </mat-form-field>
  <!-- <mat-form-field class="article-full-width">
    <input matInput type="file" placeholder="Illustration" formControlName="illustration"/>
  </mat-form-field> -->
  <ckeditor [editor]="editor" data="" class="editor__editable"></ckeditor><br>
  <button 
    mat-raised-button color="primary"
    type="submit" 
    [disabled]="!articleForm.valid">
    Create
  </button>
</form>